.scores {
	height: 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background: rgb(238, 232, 150);
}

.container {
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
}

.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-image: url('mole.jpg');
	background-size: cover;
}

.hit {
	background-color: green;
}
