.scores {
	display: flex;
	justify-content: center;
}

.grid {
	width: 606px;
	height: 606px;
	display: flex;
	justify-content: center;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.mole {
	background-image: url('mole.jpg');
	background-size: cover;
}

.hit {
	background-color: green;
}
