.scores {
	height: auto;
	width: 606px;
	display: flex;
	justify-content: center;
	background-color: black;
	border: solid black 1px;
}

.scores h2 {
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	font-size: 1.3em;
	color: white;
	margin: 15px;
}

.container {
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
}

.grid {
	width: 606px;
	height: 606px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.square {
	height: 200px;
	width: 200px;
	border: solid black 1px;
}

.mole {
	background-image: url('mole2.png');
	background-size: cover;
}

.hit {
	background-color: green;
}
